.main-row {
  border-radius: 15px;
  overflow: hidden;
}

#container-img img {
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: 0.5s ease;
}
#container-img img:hover {
  opacity: 1;
}

.host-img img {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.contenitore-host,
.info-host {
  border-bottom: 1px gray solid;
  padding-top: 10px;
}

.prenotation {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.check-in {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.border-b {
  border-bottom: 1px solid lightgray;
}

.border-r {
  border-right: 1px solid lightgray;
}

.btn-pre {
  background-color: #ed3b5a;
  border-radius: 10px;
}

.border-t {
  border-top: 1px solid lightgray;
}
.btn-servizi {
  margin-top: 30px;
  border-radius: 5px;
  background-color: white;
  padding-inline: 15px;
  padding-block: 10px;
}
@media screen and (max-width: 990px) {
  .main-row {
    border-radius: 15px;
  }

  .main-cols {
    padding-right: 0;
  }
}
