.jumbotron {
  height: 20vh;
  background-image: url(assets/pics-carousel-nav/home.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  aspect-ratio: 3/1;
  background-repeat: no-repeat;
}
